.tableimg{
    max-height: 230px;
}
.finalb{
    margin: 5px;
}
.resetb{
    margin: 5px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.regresab{
    padding-left: 52px;
    padding-right: 52px;
}